{% extends "./baza.html" %}
{%load static%}
{% block title %}In lucru{% endblock %}

{% block content %}
<h1 style="color:#00e5ff">In lucru</h1>
<div class="aboutus1">
    <p class="mentenanta">Aceasta pagina este in lucru... Va rugam reveniti mai tarziu, va cerem scuze pentru inconvenienta!</p>
    <img id="virtual" src={%static 'app_eBooks/imagini/in_lucru.png'%} alt="imagine"/>
</div>
<section id="istoric"></section>
<section id="echipa"></section>
<section id="prezent"></section>
{% endblock %}